//P101
NET "reset_i" LOC = "P101";
//P184
NET "clock_i" LOC = "P184";

//l1cache programming


NET "wbValAFinal_o[0]" LOC = "P61";
NET "wbValAFinal_o[1]" LOC = "P60";
NET "wbValAFinal_o[2]"  LOC ="p55";
NET "wbValAFinal_o[3]" LOC = "P50";
NET "wbValAFinal_o[4]" LOC = "P49";
NET "wbValAFinal_o[5]" LOC = "P48";
NET "wbValAFinal_o[6]" LOC = "P47";
NET "wbValAFinal_o[7]"  LOC ="p45";
NET "wbValAFinal_o[8]" LOC = "P42";
NET "wbValAFinal_o[9]" LOC = "P41";
NET "wbValAFinal_o[10]" LOC = "P40";
NET "wbValAFinal_o[11]" LOC = "P39";
NET "wbValAFinal_o[12]" LOC = "P36";
NET "wbValAFinal_o[13]" LOC = "P35";
NET "wbValAFinal_o[14]" LOC = "P34";
NET "wbValAFinal_o[15]" LOC = "P33";

NET "wbAddrAFinal_o[0]" LOC = "P68";
NET "wbAddrAFinal_o[1]" LOC = "P78";
NET "wbAddrAFinal_o[2]" LOC = "P83";
NET "wbAddrAFinal_o[3]" LOC = "P89";
